@font-face {
    font-family: 'Ponnala Regular';
    src: url('../fonts/Ponnala.woff2');
}
@font-face {
    font-family: 'EA Sports Cruyff Sans Light';
    src: url('../fonts/CruyffSans-Light.woff2');
}
@font-face {
    font-family: 'EA Sports Cruyff Sans Regular';
    src: url('../fonts/CruyffSans-Medium.woff2');
}